*{
    margin: 0px;
    height: 0px;
}
.container{
    height: 700px;
    display: flex;
}
.item1{
    height: 500px;
    width: 250px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.item2{
    height: 150px;
    width: 150px;
    background-color: black;
    
}
.item3{
    height: 150px;
    width: 150px;
    background-color: black;
}